page-addphoto {
    
    .toolbar {
        .toolbar-background {
          background: #000000;
        }
	  }
	  
	

  

/* Content css */
.button-as {
    background: #ed1c24;
    color: #fff;
    padding: 10px 30px;
    margin: 0 auto;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    text-transform: capitalize;
}
.image-detail {
    padding: 0 5%;
}
.uploaded-img {
    color: #fff;
    width: 160px;
    background: #fff;
    height: 160px;
    margin: 0 auto 10px auto;
    padding: 0 10px;
}
.about-uploaded-img {
    color: #fff;
    max-height: 150px;
    background: #fff;
    min-height: 150px;
    position: relative;
}
.uploaded-img .signature-icon {
    display: inline-block;
font-size: 22px;
color: #716e6e;
height: 22px;
width: 22px;
margin: 8px 0 7px 0px;
}
.uploaded-img .signature-image{
    max-height: 118px;
    margin: 0 auto;
    width: auto;
    float: none;
    display: block;
}
.about-uploaded-img textarea{
    height: 100%;
    position: absolute;
    padding: 8px 1px 8px 8px;
    color: #000;
    font-size: 14px;
    width: 100%;
    border-radius: 0;
}
.upload-btn {
    position: relative;
}
.upload-btn input[type="file"] {
    width: 145px;
    height: 38px;
    position: absolute;
    opacity: 0;
}

/* Content css../ */
@media (max-width: 380px) {
    .footer-right {
       padding-left: 75px;
   }
   }
}
