
  <ion-header class="home">
      <ion-navbar>
        
        <appheader [headerData]="headerData" (CallBackEvent)="CallBackFromHeader($event);"></appheader>
    
      </ion-navbar>
    </ion-header>
      <!-- <ion-header class="home">
          <ion-navbar>
            <div class="header-logo"><img src={{appUtils.LogoUrl}} alt="Logo" /></div>
            <span class="tagline">{{appUtils.ContractorName}}</span>
            <ion-icon (click)="openModal()" name="settings"></ion-icon>
          </ion-navbar>
        </ion-header> -->
        
        
        
        
          <ion-content> 
            <!-- <div class="para">construction safety compliance app</div> -->
            <ion-grid class="as-grid">
              <ion-row>
                <ion-col col-6 col-sm-6 class="f">
                  <ion-list>
                    <ion-item>
                      <ion-label>Select User</ion-label>
                      <ion-select [(ngModel)]="testSelectUser" okText="Okay!" name="testSelectUser">
                         <ion-option *ngFor="let users of Users" (ionSelect)="selectUser(users)" [selected]="users.code == SelectedUser.code"
                        value="{{users.code}}">{{users.FirstName + " " + users.LastName}}</ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>
                  
                </ion-col>
                <ion-col col-6 col-sm-6 class="s">
                  <ion-list>
                    <ion-item>
                        <ion-label>Select Job</ion-label>
                       <ion-select [(ngModel)]="testSelectJob" okText="Okay!" name="testSelectJob">
                          <ion-option *ngFor="let job of jobs let i=index" (ionSelect)="selectJob(job , i)" [selected]="job.jobId == SelectedJob.jobId"
                        value="{{job.jobId}}">{{job.jobName+"-"+job.jobNumber}}</ion-option>
                      </ion-select>
                    </ion-item>
                   </ion-list>
                 
                </ion-col>
              </ion-row>
        
               <!-- <ion-list>
                  <ion-item>
                      <ion-label>frequently used jobs</ion-label>
                     <ion-select multiple="true" okText="Okay!">
                        <ion-option *ngFor="let job of jobs let i=index" (ionSelect)="selectJob(job , i)" [selected]="job.jobId == SelectedJob.jobId"
                      value="{{job.jobId}}">{{job.jobName+"-"+job.jobNumber}}</ion-option>
                    </ion-select>
                  </ion-item>
                 </ion-list> -->
                 <!-- <ion-item>
                    <ion-label stacked>frequently used jobs</ion-label>
                    <ion-select multiple="true" [(ngModel)]="selectedFrequentJobs" (ionChange)="changeCategories($event)">
                      <ion-option *ngFor="let job of jobs let i=index" 
                              (ionSelect)="UpdateJobFreq($event , job.jobId)" 
                              [value]="job.jobId" checked="true">{{job.jobName+"-"+job.jobNumber}}</ion-option>
                    </ion-select>
              </ion-item> -->

              <div class="manage-cntr">
                  <a href="javascript:void(0);" class="manage-anchor" (click)="OpenAllJobs()">manage</a>
                  
                  <div class="manage-toggle" style="display: none;">
                      <div class="toggle-cntr">
                     <ion-icon name="close" class="pop-close"   (click)="HideToggle()"></ion-icon>
                    <div class="manage-heading">frequently used jobs</div>
                    <ion-list *ngFor="let job of jobs">
                     <ion-item>
                        <ion-label>{{job.jobName+"-"+job.jobNumber}}</ion-label>
                        <ion-checkbox checked={{job.freqValue}} (ionChange)="UpdateJobFreq($event , job.jobId)"></ion-checkbox>
                      </ion-item>
                     </ion-list>

                     <div class="ok" (click)="HideToggle()">ok</div>

                  </div>
                </div>
            </div>
            </ion-grid>
            <ion-grid class="as-grid">
              <ion-row>
                <ion-col col-6 col-sm-4 class="first">
                  <div class="iner-col" (click)="goToSafetyForms()">
                    <!-- <ion-icon name="clipboard"></ion-icon> -->
                    <img src="../../assets/imgs/home1.jpg" alt="" />
                    <span>Safety Forms</span> </div>
                </ion-col>
                <ion-col col-6 col-sm-4 class="second">
                  <div class="iner-col">
                    <!-- <ion-icon name="copy"></ion-icon> -->
                    <img src="../../assets/imgs/home2.jpg" alt="" />
                    <span>Safety Data</span> </div>
                </ion-col>
                <ion-col col-6 col-sm-4 class="third">
                  <div class="iner-col" (click)="goToInformation()">
                    <!-- <ion-icon name="book"></ion-icon> -->
                    <img src="../../assets/imgs/home3.jpg" alt="" />
                    <span>Safety Information</span> </div>
                </ion-col>
                <ion-col col-6 col-sm-4 class="fourth">
                  <div class="iner-col">
                    <!-- <ion-icon name="chatboxes"></ion-icon> -->
                    <img src="../../assets/imgs/home4.jpg" alt="" />
                    <span>Toolbox Talk Presentations</span> </div>
                </ion-col>
                <ion-col col-6 col-sm-4 class="fifth">
                  <div class="iner-col">
                    <!-- <ion-icon name="school"></ion-icon> -->
                    <img src="../../assets/imgs/home5.jpg" alt="" />
                    <span>Employee Certification</span> </div>
                </ion-col>
                <ion-col col-6 col-sm-4 class="sixth">
                  <div class="iner-col" (click)="GetWithoutSyncedChangeLogs()">
                    <!-- <ion-icon name="sync"></ion-icon> -->
                    <img src="../../assets/imgs/home6.jpg" alt="" />
                    <span>Sync to Server</span> </div>
                </ion-col>
                <ion-col col-6 col-sm-4 class="seventh">
                    <div class="iner-col">
                      <!-- <ion-icon name="bus"></ion-icon> -->
                      <img src="../../assets/imgs/home1.jpg" alt="" />
                      <span>Emergency</span> </div>
                  </ion-col>
                  <ion-col col-6 col-sm-4 class="seventh">
                    <div class="iner-col">
                      <!-- <ion-icon name="bus"></ion-icon> -->
                      <img src="../../assets/imgs/time-card.jpg" alt="" />
                      <span>Time card</span> </div>
                  </ion-col>
                  <ion-col col-6 col-sm-4 class="seventh">
                    <div class="iner-col">
                      <!-- <ion-icon name="bus"></ion-icon> -->
                      <img src="../../assets/imgs/time-off.jpg" alt="" />
                      <span>Time off</span> </div>
                  </ion-col>
                  <ion-col col-6 col-sm-4 class="seventh">
                    <div class="iner-col">
                      <!-- <ion-icon name="bus"></ion-icon> -->
                      <img src="../../assets/imgs/work-order.jpg" alt="" />
                      <span>Work Order</span> </div>
                  </ion-col>
              </ion-row>
            </ion-grid>
            <br>
            <br>
            <br>
            <br>
            <br>
             
          </ion-content>

          <footer [footerData]="headerData" (footerCallBack)="CallBackFromHeader($event);"></footer>

          <!-- <footer> 
              <div class="footer-left"><img class="footer-logo" src="../../assets/imgs/logo-bk.png" alt="Company Logo" /></div>
              
              <div class="footer-right">
              <span class="tag-bottom">Construction Safety Compliance App</span>
              <a href="http://www.safetyfirstdata.com" target="_blank">Help and Training</a>
            </div>
            </footer> -->